{% extends "LOUVREAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Commande {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
       
           {{ form_widget(formT) }}
            
   
    </div>
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}