{% extends "LOUVREAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <h1>Hello World</h1>
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}