/* ------------------ GLOBAL PAGE ------------------ */

@font-face
{
   font-family: 'JosefinSans';
    src: url('../police/JosefinSans-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face
{
   font-family: 'JosefinSans';
    src: url('../police/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
   font-family: 'JosefinSans';
    src: url('../police/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.error_list {
    list-style: none;
    padding-left: 15px;
    margin-top: 10px;
    color: red;
}

/* ------------------ GLOBAL PAGE FIN ------------------ */

/* ------------------ HOMEPAGE ------------------ */

#logo {
    margin-top: 10px;
}

#logo p {
    font-family: JosefinSans, sans-serif;
    font-size: 20px;
}

#deals {
    margin-top: 100px;
}

#deals h3 {
    font-family: JosefinSans, sans-serif;
    font-weight: bold;
}

#rate {
    font-family: JosefinSans, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.margin-top {
    margin-top: 10px;
}

.normal {
	border:1px solid #14937a;
	border-bottom:10px solid #14937a;    
}

.child {
	border:1px solid #cd8109;
	border-bottom:10px solid #cd8109;
    
}

.senior {
	border:1px solid #a12f23;
	border-bottom:10px solid #a12f23;
}

.reduct {
	border:1px solid #1d6391;
	border-bottom:10px solid #1d6391;
}

.family {
	border:1px solid #704b7e;
	border-bottom:10px solid #704b7e;
}

.bold-ticket { font-weight: bold; color: #626262; }

.pricing-table-header-normal {
    padding: 5px 0 5px 0;
    background: #16a085;
	border-bottom:10px solid #14937a;
}

.pricing-table-header-child {
    padding: 5px 0 5px 0;
    background: #f39c12;
	border-bottom:10px solid #cd8109;
}

.pricing-table-header-senior {
    padding: 5px 0 5px 0;
    background: #c0392b;
	border-bottom:10px solid #a12f23;
}

.pricing-table-header-reduct {
    padding: 5px 0 5px 0;
    background: #2980b9;
	border-bottom:10px solid #1d6391;
}

.pricing-table-header-family {
    padding: 5px 0 5px 0;
    background: #704b7e;
	border-bottom:10px solid #4c3457;
}

.pricing-table-header-normal h2, .pricing-table-header-child h2, .pricing-table-header-senior h2, .pricing-table-header-reduct h2, .pricing-table-header-family h2 {  font-weight: 700; color:#FFF; }
.pricing-table-header-normal h3, .pricing-table-header-child h3, .pricing-table-header-senior h3, .pricing-table-header-reduct h3, .pricing-table-header-family h3 { font-weight: 500; color:#FFF;  }


.pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}

.pricing-table-features {
    min-height: 150px;
    margin: 15px 10px 0 10px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px dashed #888;
    line-height: 20px;
    font-size: 14px;
    color: #888;
}

.pricing-table-signup {
    margin-top: 25px;
    padding-bottom: 10px;
}


#order-page {
    margin-top: 80px;
}

#schedules {
    background-color: #221e1f;
    color: white;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

/* ------------------ HOMEPAGE FIN ------------------ */

/* ------------------ COMMAND PAGE ------------------ */

#container-command {
    background-image: url('../img/photo01.jpg');
    background-color: white;
    background-size: 100%;
    min-height: 100vh;
}

#container-commandTickets {
    background-image: url('../img/photo02.jpg');
    background-size: 100%;
    background-color: white;
    min-height: 100vh;
}

.info-area {
    background-color: #efefef;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.info-area h4 {
    margin-left: 20px;
    font-size: 14px;

}

.input-formC {
    margin-bottom: 10px;
}

#command_save {
    margin-top: 50px;
}

.inputs-area {
    background-color: #efefef;
    margin-top: 10px;
    padding: 40px;
    border-radius: 5px;
}

#info-reducedPrice {
    font-size: 12px;
}

#info-reducedPrice p {
    margin-left: 15px;
}

/* ------------------ COMMAND FIN ------------------ */

/* ------------------ SUMMARY PAGE ------------------ */

#summary-title {
    font-family: JosefinSans, sans-serif;
    font-weight: bold;
}

#summary {
    background-color: #efefef;
    margin-top: 40px;
    padding: 40px;
    border-radius: 5px;
}

#summary p {
    margin-bottom: 0;
}

#table-head {
    background-color: #221e1f;
    color: white;
    font-size: 18px;
}

#table-body {
    background-color: white;
    color: #221e1f;
    font-size: 16px;
}

.ttc {
    font-size: 10px;
}

#summary-paiement-title {
    font-family: JosefinSans, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #262b33;
    padding-top: 70px;
}

#summary-buttons {
    margin-top: 40px;
}

.payment-button {
    margin-top: 10px;
}


/* ------------------ SUMMARY FIN ------------------ */

/* ------------------ AFTERPAYMENT PAGE ------------------ */

.message-flash {
    margin-top: 50px;
}

#return-home-button {
    margin-top: 40px;
}

#social-button {
    margin-top: 240px;
}

#twitter {
    display: inline-block;
    vertical-align: top;
}

#facebook {
    display: inline-block;
    vertical-align: top;
}

.bder {
    border: 1px solid black;
}


/* ------------------ AFTERPAYMENT FIN ------------------ */

/* ------------------ PDF PAGE ------------------ */

#ticket-pdf {
    width: 600px;
    border: 3px double black;
    background-image: url("../img/sayagata.png");
    font-size: 15px;
    margin: 20px 0;
}

#logo-ticket {
    margin-bottom: 20px;
    background-color: white;
    padding-bottom: 15px;
    border-bottom: 3px solid #3279b7;
}

#qrcode {
    margin-top: 10px;
    padding-left: 115px;
}

#input-date-pdf {
    width: 400px;
}

#input-name-pdf {
    width: 400px;
}

#input-price-pdf {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}

#input-ticket-name-pdf {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

#separator {
    border-bottom: 1px dashed black;
    margin: 10px 0;
}